input[type=range] {
    -webkit-appearance: none;

    /* Hides the slider so that custom slider can be made */
    width: 40vw;

    /* Specific width is required for Firefox. */
    background: transparent;

    /* Otherwise white in Chrome */

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    &:focus {
        outline: none;

        /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    &::-ms-track {
        width: 100%;
        cursor: pointer;

        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;

        /* border: 1px solid #000000; */
        height: 300%;
        width: 5%;
        border-radius: .8rem;
        background: #ffffff;
        cursor: pointer;
        margin-top: -3%;

        /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

        /* Add cool effects to your sliders! */
    }

    &::-moz-range-thumb {
        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        border: 1px solid #000000;
        height: 150%;
        width: 5%;
        border-radius: .8rem;
        background: #ffffff;
        cursor: pointer;
    }

    &::-ms-thumb {
        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        border: 1px solid #000000;
        height: 150%;
        width: 5%;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;

        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        background: #0000002f;
        border-radius: 1.3px;
        border: 0.1px .2px solid #010101;
    }

    &:focus::-webkit-slider-runnable-track {
        background: #0000002f;
    }

    &::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;

        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        background: #0000002f;
        border-radius: 2px;
        border: 0.1px .2px solid #01010135;
    }

    &::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: #0000002f;
        border: 0.2px solid #010101;
        border-radius: 2px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &:focus::-ms-fill-lower {
        background: #0000002f;
    }

    &::-ms-fill-upper {
        background: #0000002f;
        border: 0.2px solid #010101;
        border-radius: 2px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    &:focus::-ms-fill-upper {
        background: #0000002f;
    }
}

/* All the same stuff for Firefox */

/* All the same stuff for IE */