.title {
    /* background-color: #282c34; */
    height: auto;
    max-height: 100vh;
        width: auto;
        max-width: 12vw;
        display: absolute;
        left: 2vw;
        top: 2vw;
        cursor: pointer;
        opacity: 95%;
        /* padding: 12em; */
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    /* margin: 1em; */
    transition: 200ms;
    position: fixed;
    cursor: pointer;
    opacity: 95%;
}

.title:hover {
    transform: scale(.9);
    transition: 1000ms;
}

.featured {
    object-fit: cover;
    background-repeat: repeat;
    background-color: #282c34;
    height: 100vh;
    /* min-height: 80vh; */
    margin: auto;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
                align-items: flex-end;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* padding: 1em; */
    /* position: absolute; */
}

/* .featured {
    object-fit: cover;
    background-color: #282c34;
    height: 80vh;
    /* min-height: 80vh; */
/* margin: auto;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-size: cover;
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.00), rgba(0, 0, 0, 0.73)),
        url('../assets/background.gif');
    background-repeat: no-repeat;
    object-fit: cover; */
/* padding: 1em; */
/* position: absolute; */
/* } */

.featured-links {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;    
    min-width:100vw;
    max-width:100vw;
    height: 100vh;
    pointer-events: none;
}

.featured-links > *{
    font-size: large;
    height: 3em;
    margin: auto;
    border-spacing: 0 15px;
    border-radius: 20px;
    pointer-events: all;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}



.featured-links > * > * {
    font-size: large;
    height: 3em;
    margin: auto;
    color: white;
}

.featured-links > * > * > * {
    padding: 1rem 2rem;
    margin: 1.5rem;
    width: 60vw;
    transform:scaleX(110%);
    transition: 80ms;
    cursor: pointer;
    background-color: #0000002b;
        border: solid rgba(0, 0, 0, 0.106) .5px;
        border-radius: .7rem;
}

.featured-links>*>*:hover {
    transform: scale(110%);
    transition: 80ms;
}

.scroll-prompt-top {
    font-size: 6vw;
    position: absolute;
    color: rgba(255, 255, 255, 0.263);
    top: 1%;
    margin: auto;
    opacity: 10%;
    transform: translate(-2vw);
    transition: 500ms;
    /* display: none; */
    cursor: pointer;
}

.scroll-prompt {
    font-size: 6vw;
    position: absolute;
    color: rgba(255, 255, 255, 0.263);
    bottom: 1%;
    margin: auto;
    opacity: 10%;
    transform: translate(-2vw);
    transition: 500ms;
    /* display: none; */
    cursor: pointer;
}

.scroll-prompt:hover {
    transition: 500ms;
    color: white;
    opacity: 90%;
}

.scroll-prompt-top:hover {
    transition: 500ms;
    color: white;
    opacity: 90%;
}

.scroll-prompt-top:hover {
    transition: 300ms;
    color: white;
    opacity: 90%;
}

.react-icon {
    font-size: 2rem;
    padding-right: .5rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* transform: translateX(10px); */
}

.link-title {
    font-size: 1.2rem;
    font-weight: 110%;
}

.tiktok:hover > span {
    transition: 300ms;
    color:#00f2ea;
}
.instagram:hover > span {
    transition: 300ms;
    color:#7385e2;
}
.spotify:hover > span {
    transition: 300ms;
    color: #3bd671
}
.apple:hover > span {
    transition: 300ms;
    color:#f6636d;
}
.merch:hover > span {
    transition: 300ms;
    color:#a6a9af
}

.playButton {
    cursor: pointer;
    /* display: flex; */
    position: fixed;
    right: calc(4vw);
    top: 4vw;
}

.playButton>* {
    color: rgb(255, 255, 255);
    font-size: 8em;
    transition: 500ms;
}

.playButton>*:hover {
    transform: scale(95%);
    transition: 500ms;
}

.playButton>*:active {
    transform: scale(105%);
    transition: 200ms;

    /* color: black; */
}

.pause {
    color: #ffffff;
}

.pause:hover {
        color: rgb(255, 255, 255);
}

.invisible > .pause {
    color: #ffffff00;
}

.invisible>.pause:hover {
    color: rgb(255, 255, 255);
}

.volume {
margin-left: auto !important;
    margin-right: auto !important;
    bottom: 10px;
}

.slider-container {
    position: fixed;
        /* left: 50%; */
        top: 50%;
        margin-left: 30vw;
}

.slider-container.invisible:hover {
    opacity: 100%;
}

.invisible {
    opacity: 0;
    transition: 1500ms;
    pointer-events: none;
    position: fixed;
}

.playButton.invisible {
    /* width: 10%; */
    opacity: 0.4;
    transition: 1500ms;
    transition-delay: 400ms;
    pointer-events: all;
    
}
.playButton.invisible:hover {
    /* width: 10%; */
    opacity: 1;
    transition: 500ms;
    /* transition-delay: 400ms; */
    pointer-events: all;
    
}

.visible {
    transition: 500ms;
}

.title.invisible:hover {
    transition: 1500ms;
    opacity: 100}

.title.invisible {
    opacity: 20%;
    pointer-events:all;
    /* transition-delay: 100ms; */
    /* transition-property: opacity; */
    /* display: block; */
    transition: 150ms;
    /* transition-property: opacity; */
}



.slider-container.invisible {
    opacity: 0%;
    pointer-events: all;
    transition-delay: 500ms;
    transition-property: opacity;
    /* display: block; */
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
@media only screen and (max-width: 800px) {
    .title {
            height: auto;
            min-width: 20vw;
            max-width: 20vw;
            display: absolute;
            left: 4vw;
            top: 4vw;
            cursor: pointer;
            opacity: 95%;
            /* padding: 12em; */
        }
    .playButton>* {
        font-size: 8em;
    }
}
@media only screen and (max-width: 600px) {
    .playButton>* {
            font-size: 6em;
        }}
@media only screen and (max-width: 300px) {
.title {
            height: auto;
            min-width: 20vw;
            max-width: 20vw;
            display: absolute;
            left: 40vw;
            top: 20vh;
            cursor: pointer;
            opacity: 95%;
            /* padding: 12em; */
        }
    .playButton {
            height: auto;
            min-width: 0vw;
            max-width: 0vw;
            display: absolute;
            left: calc(50vw - 2em);
            top: 80vh;
            cursor: pointer;
            opacity: 95%;
            /* padding: 12em; */
        }
                        .playButton>* {
                            font-size: 4em;
                        }
}
@media only screen and (max-height: 300px) {
    .title {
        min-height: 20vh;
        max-height: 50vh;
        min-width: 40vh;
            display: absolute;
            left: 4vw;
            top: 20vh;
            cursor: pointer;
            opacity: 95%;
            /* padding: 12em; */
        }
                .playButton {
                    height: auto;
                    min-width: 0vw;
                    max-width: 0vw;
                    display: absolute;
                    right: 13vw;
                    top: 20vh;
                    cursor: pointer;
                    opacity: 95%;
                    /* padding: 12em; */
                }
                                   
    }
