.title {
    /* background-color: #282c34; */
    min-height: 10vw;
    max-height: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1em;
    transition: 500ms;
    position: fixed;
}

.title:hover {
    transform: scale(.9);
    transition: 80ms;
}

.featured {
    object-fit: cover;
    background-color: #282c34;
    height: 100vh;
    /* min-height: 80vh; */
    margin: auto;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
                align-items: flex-end;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* padding: 1em; */
    /* position: absolute; */
}

/* .featured {
    object-fit: cover;
    background-color: #282c34;
    height: 80vh;
    /* min-height: 80vh; */
/* margin: auto;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-size: cover;
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.00), rgba(0, 0, 0, 0.73)),
        url('../assets/background.gif');
    background-repeat: no-repeat;
    object-fit: cover; */
/* padding: 1em; */
/* position: absolute; */
/* } */

.featured-links {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;    
    min-width:100vw;
    max-width:100vw;
    height: 100vh;
}

.featured-links > *{
    font-size: large;
    height: 3em;
    margin: auto;
    border-spacing: 0 15px;
    border-radius: 20px;
}



.featured-links > * > * {
    font-size: large;
    height: 3em;
    margin: auto;
    color: white;
}

.featured-links > * > * > * {
    padding: 1rem 2rem;
    margin: 1.5rem;
    width: 60vw;
    transform:scaleX(110%);
    transition: 80ms;
    background-color: #3d435061;
        border: solid rgba(0, 0, 0, 0.213) .5px;
        border-radius: .7rem;
}

.featured-links>*>*:hover {
    transform: scale(110%);
    transition: 80ms;
}

.scroll-prompt {
    font-size: 7vw;
    position: absolute;
    color: rgba(255, 255, 255, 0.263);
    bottom: 1%;
    margin: auto;
    opacity: 60%;
    transform: translate(-3.5vw);
    transition: 300ms;
    display: none
}

.scroll-prompt:hover {
    transition: 300ms;
    color: white;
    opacity: 90%;
}

.react-icon {
    font-size: 2rem;
    padding-right: .5rem;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* transform: translateX(10px); */
}

.link-title {
    font-size: 1.2rem;
    font-weight: 110%;
}

.instagram:hover > span {
    transition: 300ms;
    color:#7385e2;
}
.spotify:hover > span {
    transition: 300ms;
    color: #3bd671
}
.apple:hover > span {
    transition: 300ms;
    color:#f6636d;
}
.merch:hover > span {
    transition: 300ms;
    color:#a6a9af
}

@media only screen and (min-width: 600px) {
    .title {
            min-height: 10vw;
            max-height: 10vw;
            /* display: flex; */
            flex-direction: column;
            align-items: flex-end;
            justify-content: top;
            font-size: calc(10px + 2vmin);
            color: white;
            padding: 1em;
            transition: 500ms;
            /* position: fixed; */
        }
}
