.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.playButton {
  display: absolute;
  position: fixed;
  right: 10px;
}

.playButton > * {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  padding: 1.5rem;
  transition: 20ms;
}

.playButton>*:hover {
transform: scale(105%);
  transition: 500ms;
  color: rgb(255, 255, 255);
}

.playButton > *:active {
  transform:scale(95%);
  transition: 200ms;
  
  /* color: black; */
}

.pause {
  color: #ffffff1e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}